.breadcrumb {
    background-color: transparent;

    .breadcrumb-item a {
        color: $black;
        text-decoration: none;

        &:hover {
            color: $main-blue;
        }
    }

    

 
}